<blockquote>
  Listado de Categorias
</blockquote>
<div class="row">
  <div class="col l12">
    <div class="card-panel">
      <app-data-table [columns]="this.columns" [data]="categorias" [options]="true" (editEvent)="onEdit($event);abrirModalNuevo();" (deleteEvent)="eliminarCampo($event)"></app-data-table>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large btnfloat" (click)="limpiarPublicacion();abrirModalNuevo()">
    <i class="fa fa-plus"></i>
  </a>
</div>

<div id="modalNuevo" class="modal">
    <app-nueva-categoria [idPublicacion]="categoria"></app-nueva-categoria>
</div>