<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o fa-3x"></i></a>
  <div class="dropdown-menu dropdown-menu-right animated flipInY">
      <ul class="dropdown-user">
          <li>
              <div class="dw-user-box">
                  <div class="u-img"><i class="fa fa-user-circle-o fa-3x"></i></div>
                  <div class="u-text">
                      <h4>Steave Jobs</h4>
                      <p class="text-muted">varun@gmail.com</p><a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
              </div>
          </li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><i class="ti-user"></i> Perfil</a></li>
          <li><a href="#"><i class="fa fa-power-off"></i> Salir</a></li>
      </ul>
  </div>
</li>